@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section styles
{
    <style>
        h2 {
        margin: 0 auto;
        align-content: center;
        }
    </style>
}
<h2>Wrong Password</h2>
